{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('atualizar') }}" method="post" enctype="multipart/form-data">
        <figure class="img-thumbnail col-md-4">
          <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo=icon_tech) }}">
          <figcaption>
            <label class="fileContainer">
              Mudar Ícone
              <input type="file" name="arquivo" accept=".jpg">
            </label>
          </figcaption>
        </figure>
        <fieldset>
          <input type="hidden" name="id" value="{{ id }}">
          {{ form.csrf_token() }}
          <div class="form-group">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.descricao.label(class="form-label") }}
            {{ form.descricao(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.nivel.label(class="form-label") }}
            {{ form.nivel(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.criador.label(class="form-label") }}
            {{ form.criador(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.ano_lancamento.label(class="form-label") }}
            {{ form.ano_lancamento(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.recursos.label(class="form-label") }}
            {{ form.recursos(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.recursos.label(class="form-label") }}
            {{ form.recursos(class="form-control") }}
          </div>
          <div class="'form-group">
            {{ form.salvar(class="btn btn-primary") }}
            <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
          </div>
        </fieldset>
      </form>
{% endblock %}