{% extends "template.html" %}
{% block conteudo %}

    <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
    <a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
    <a class="btn btn-primary" href="{{ url_for('novo') }}">Adicionar Tecnologia</a>


        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Nível</th>
                    <th>Criador</th>
                    <th>Lançamento</th>
                    <th>Categorias</th>
                    <th>Recursos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for tecnologia in tecnologias %}
                <tr>
                    <td>{{tecnologia.nome}}</td>
                    <td>{{tecnologia.descricao}}</td>
                    <td>{{tecnologia.nivel}}</td>
                    <td>{{tecnologia.criador}}</td>
                    <td>{{tecnologia.ano_lancamento}}</td>
                    <td>{{tecnologia.categorias}}</td>
                    <td>{{tecnologia.recursos}}</td>
                    <td>
                        <a href="{{ url_for('editar', id=tecnologia.id) }}">Editar</a>
                        <a href="{{ url_for('deletar', id=tecnologia.id) }}">Deletar</a>
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
